# venv
Lib
Scripts
pyvenv.cfg
# python cache
*/__pycache__
*/*/__pycache__
# persistent storage folder 
storage
# all the configs
configs/*.*
# except for .example files
!configs/*.example
.mypy_cache

