# venv
.venv
# python and mypy cache
*/__pycache__
*/*/__pycache__
.mypy_cache
# persistent storage folder 
storage
# all the configs
configs/*.*
# except for .example files
!configs/*.example
# vscode configs
.vscode

