aiodns==2.0.0
aiohttp==3.7.4*
aiomysql==0.0.20
APScheduler==3.6.3
arrow==0.15.6
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.4.5.1
cffi==1.14.3
chardet==3.0.4
cryptography==3.3.2
dblpy==0.4.0
deepdiff==5.0.2
discord.py==1.7.3
idna==2.9
importlib-metadata==1.0.0
jsonpickle==1.4.1
multidict==4.7.6
mysql-connector-python==8.0.20
nest-asyncio==1.4.3
ordered-set==4.0.2
protobuf==3.12.2
psutil==5.7.2
pycares==3.1.1
pycparser==2.20
PyMySQL==0.9.2
# my fork of python-a2s with more debug
-e git+https://github.com/Nereg/python-a2s.git@f16f34c07d246ad7a1c6f0ced9dc6a593abed1ee#egg=python-a2s
#python-a2s==1.3
python-dateutil==2.8.1
pytz==2020.1
ratelimiter==1.2.0.post0
requests==2.23.0
schedule==0.6.0
six==1.15.0
tzlocal==2.1
urllib3==1.25.9
websockets==10.0
yarl==1.4.2
zipp==3.1.0
emoji-country-flag==1.2.4