server:
  log_level: info

metrics:
  global:
    scrape_interval: 60s
    remote_write:
      - url: <remote_write_url>
        basic_auth:
          username: <grafana username>
          password: <grafana token>

  configs:
    - name: agent
      scrape_configs:
        - job_name: hikari
          static_configs:
            - targets: ['bot:9000']
